.UserContainer .UserContent {
  background-color: var(--green-soft);
  padding: 15px;
  border-radius: 10px;
  max-width: 1000px;
  min-width: 600px;
}

.UserContainer .UserContent h1 {
  font-size: 25px;
  margin: 10px 0px;
}

.UserContainer .userContent .forms {
  display: flex;
  align-items: center;
}

.UserContainer .UserContent .editUser {
  position: relative;
  right: -2px;
  top: 0px;
  background: transparent;
  border: 0;
  font-size: 0px;
}

.UserContainer .UserContent .deleteUser {
  position: relative;
  right: -15px;
  top: 0px;
  background: transparent;
  border: 0;
  font-size: 0px;
}
