.addUserContainer {
  width: 100vw;
  height: 100vh;

  padding: 50px 100px;

  display: column;
  justify-content: center;
  align-items: center;
}

.addUserContainer .button {
  background-color: var(--green-soft);
  margin-bottom: 10px;
}

.addUserContainer .addUserContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addUserContainer .addUserContent form .checkboxActive {
  margin-top: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.addUserContainer .addUserContent form .checkboxActive #textAnalist {
  width: 180px;
}

/* .addUserContainer .addUserContent form .checkboxActive h1 {
  width: 280px;
} */

/* .addUserContainer .addUserContent form .checkboxActive input {
  margin: 0px;
  height: 30px;
} */

/* .addUserContainer .addUserContent form .checkboxActive .checkboxActiveYes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.addUserContainer .addUserContent form .checkboxActive .checkboxActiveNo {
  display: flex;
  align-items: center;
  justify-content: center;
} */
