.homeContainer {
  width: 100vw;
  height: 100vh;

  padding: 20px;

  display: column;
  justify-content: center;
  align-items: center;
}

.homeContainer .homeContent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
